<!DOCTYPE html>
<html lang="es">

	<head>
		<title>J C R | Frontend Boilerplate</title>
		<meta charset="utf-8">
		<meta name="description" content="Frontend Designer & Developer" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta name="keywords" content="julio,cesar,rivera,frontend,developer,programmer,web,programador,paginas">
		<meta name="author" content="Julio Cesar Rivera">
		<meta name="robots" content="index,follow">
		<!-- Links -->
		<link rel="shortcut icon" href="/assets/media/webpack.png">

		<!-- Open Graph -->
		<meta property="og:title" content="Julio Cesar Rivera | Frontend Developer" />
		<meta property="og:description" content="Frontend Developer & Layout Master & Freelancer" />
		<meta property="og:type" content="website" />
		<meta property="og:locale" content="es_PE" />
		<meta property="og:image" content="https://juliorivera.dev/assets/media/bgsocial.jpg" />
		<meta property="og:image:alt" content="Imagen de Frontend Developer & Layout Master & Freelancer" />
		<meta property="og:image:secure_url" content="https://juliorivera.dev" />
		<!-- fin de Open Grapgh -->

		<!-- Twitter -->
		<meta name="twitter:image" content="https://juliorivera.dev/assets/media/bgsocial.jpg" />
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:title" content="Julio Cesar Rivera | Frontend Developer" />
		<meta property="twitter:site" content="@jcjrivera" class="next-head" />
		<meta property="twitter:description" content="Frontend Developer & Layout Master & Freelancer" />
		<!-- fin de Twitter card -->

	</head>

	<body>
		{{>partials/header}}
		{{>partials/banner}}
		{{>partials/content}}
		{{>partials/articles}}
		{{>partials/footer}}
	</body>

</html>
