.articleGrid {
	display: grid;
	grid-row-gap: 2rem;
	padding: 2rem 0;

	&-item {
		width: 100%;
		height: 12rem;
		display: flex;
		min-width: 280px;

		@include to(m) {
			flex-direction: column;
			height: 25rem;
			justify-content: space-between;
		}
	}

	&-image {
		width: 30%;
		height: 100%;
		background-color: #c4c4c4;

		@include to(m) {
			background-color: #c4c4c4;
			width: 100%;
			height: 12rem;
			padding-bottom: 1rem;
		}
	}

	&-info {
		width: 70%;
		padding-left: 1rem;
		height: 100%;
		display: grid;
		grid-row-gap: 0.5rem;

		@include to(m) {
			width: 100%;
			height: 12rem;
			padding-left: 0;
		}
	}

	&-title {
		color: $color-title;
		font-size: 1.2rem;
	}

	&-text {
		color: $color-parrafo;
		font-size: 1.1rem;
		line-height: 1.5rem;

		@include to(m) {
			font-size: 0.9rem;
			line-height: 1rem;
		}
	}

	&-autor {
		width: 100%;
	}
}
