.autor {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;

	&-info {
		width: 200px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&-name {
		color: $color-title;
	}

	&-fecha {
		color: $color-fecha;
	}

	&-icons {
		width: 80px;
		display: flex;
		justify-content: space-between;
	}
}
