.grid {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	grid-gap: 2rem;

	&-item {
		display: grid;
		grid-row-gap: 1rem;
		&-image {
			width: 100%;
			height: 10rem;
			background-color: #c4c4c4;
		}

		&-title {
			color: $color-title;
			font-size: 1.5rem;
			display: flex;
			align-items: center;
		}

		&-description {
			color: $color-parrafo;
			line-height: 1.5rem;
		}

		&-autor {
			width: 100%;
			height: 2.8rem;
		}
	}
}
