<article class="article l-container">
	<h2 class="article-title">ALL ARTICLE</h2>
	<div class="articleGrid">
		<div class="articleGrid-item">
			<div class="articleGrid-image"></div>
			<div class="articleGrid-info">
				<h5 class="articleGrid-title">
					Massa eu in laoreet enim augue vulputate nunc.
				</h5>
				<p class="articleGrid-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna
					aliqua. Lectus quisque magna in nisl nibh bibendum ipsum, elit duis. Donec.</p>
				<div class="articleGrid-autor">
					<div class="autor">
						<div class="autor-info">
							<h4 class="autor-name">Samatha Leuthex</h4>
							<p class="autor-fecha">May 5, 3 min read</p>
						</div>
						<div class="autor-icons">
							<img src="../../assets/media/iconBook.svg" alt="icono de bookmark">
							<img src="../../assets//media//iconShare.svg" alt="icono de compartir">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="articleGrid-item">
			<div class="articleGrid-image"></div>
			<div class="articleGrid-info">
				<h5 class="articleGrid-title">
					Massa eu in laoreet enim augue vulputate nunc.
				</h5>
				<p class="articleGrid-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna
					aliqua. Lectus quisque magna in nisl nibh bibendum ipsum, elit duis. Donec.</p>
				<div class="articleGrid-autor">
					<div class="autor">
						<div class="autor-info">
							<h4 class="autor-name">Samatha Leuthex</h4>
							<p class="autor-fecha">May 5, 3 min read</p>
						</div>
						<div class="autor-icons">
							<img src="../../assets/media/iconBook.svg" alt="icono de bookmark">
							<img src="../../assets//media//iconShare.svg" alt="icono de compartir">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="articleGrid-item">
			<div class="articleGrid-image"></div>
			<div class="articleGrid-info">
				<h5 class="articleGrid-title">
					Massa eu in laoreet enim augue vulputate nunc.
				</h5>
				<p class="articleGrid-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna
					aliqua. Lectus quisque magna in nisl nibh bibendum ipsum, elit duis. Donec.</p>
				<div class="articleGrid-autor">
					<div class="autor">
						<div class="autor-info">
							<h4 class="autor-name">Samatha Leuthex</h4>
							<p class="autor-fecha">May 5, 3 min read</p>
						</div>
						<div class="autor-icons">
							<img src="../../assets/media/iconBook.svg" alt="icono de bookmark">
							<img src="../../assets//media//iconShare.svg" alt="icono de compartir">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="articleGrid-item">
			<div class="articleGrid-image"></div>
			<div class="articleGrid-info">
				<h5 class="articleGrid-title">
					Massa eu in laoreet enim augue vulputate nunc.
				</h5>
				<p class="articleGrid-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna
					aliqua. Lectus quisque magna in nisl nibh bibendum ipsum, elit duis. Donec.</p>
				<div class="articleGrid-autor">
					<div class="autor">
						<div class="autor-info">
							<h4 class="autor-name">Samatha Leuthex</h4>
							<p class="autor-fecha">May 5, 3 min read</p>
						</div>
						<div class="autor-icons">
							<img src="../../assets/media/iconBook.svg" alt="icono de bookmark">
							<img src="../../assets//media//iconShare.svg" alt="icono de compartir">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="articleGrid-item">
			<div class="articleGrid-image"></div>
			<div class="articleGrid-info">
				<h5 class="articleGrid-title">
					Massa eu in laoreet enim augue vulputate nunc.
				</h5>
				<p class="articleGrid-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna
					aliqua. Lectus quisque magna in nisl nibh bibendum ipsum, elit duis. Donec.</p>
				<div class="articleGrid-autor">
					<div class="autor">
						<div class="autor-info">
							<h4 class="autor-name">Samatha Leuthex</h4>
							<p class="autor-fecha">May 5, 3 min read</p>
						</div>
						<div class="autor-icons">
							<img src="../../assets/media/iconBook.svg" alt="icono de bookmark">
							<img src="../../assets//media//iconShare.svg" alt="icono de compartir">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="article-footer">
		<div class="article-footer-prev">
			<img src="../../assets/media/iconPrev.svg" alt="flecha de anterior">
			<span>Old Post</span>
		</div>
		<div class="article-footer-next">

			<span>New Post</span>
			<img src="../../assets/media/iconNext.svg" alt="flecha de siguiente">
		</div>
	</div>
</article>
