<div class="banner">
	<div class="banner-wrapper">
		<div class="banner-content">
			<h1>Blog Afrianska</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
				dolore magna
				aliqua.</p>
		</div>
	</div>
</div>
