<main class="content l-container">
	<div class="content-search">
		<label for="buscar"></label>
		<input type="text" id="buscar" placeholder="Search Article">
	</div>
	<h2 class="content-title">
		<span>POPULAR</span>
	</h2>
	<div class="content-main">
		<div class="content-main-info">
			<h3 class="content-main-title">Feugiat sodales at nullam tellus.</h3>
			<p class="content-main-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna
				aliqua. Mi posuere nibh tempor fringilla porta pellentesque ipsum.
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
				dolore magna
				aliqua.</p>
			<div class="content-main-autor">
				<div class="autor">
					<div class="autor-info">
						<h4 class="autor-name">Samatha Leuthex</h4>
						<p class="autor-fecha">May 5, 3 min read</p>
					</div>
					<div class="autor-icons">
						<img src="../../assets/media/iconBook.svg" alt="icono de bookmark">
						<img src="../../assets//media//iconShare.svg" alt="icono de compartir">
					</div>
				</div>
			</div>
		</div>
		<div class="content-main-image"></div>
	</div>
	<div class="grid">
		<div class="grid-item">
			<div class="grid-item-image"></div>
			<h5 class="grid-item-title">Porta proin tellus sed pulvinar odio eu pulvinar.</h5>
			<p class="grid-item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna
				aliqua.</p>
			<div class="grid-item-autor">
				<div class="autor">
					<div class="autor-info">
						<h4 class="autor-name">Samatha Leuthex</h4>
						<p class="autor-fecha">May 5, 3 min read</p>
					</div>
					<div class="autor-icons">
						<img src="../../assets/media/iconBook.svg" alt="icono de bookmark">
						<img src="../../assets//media//iconShare.svg" alt="icono de compartir">
					</div>
				</div>
			</div>
		</div>
		<div class="grid-item">
			<div class="grid-item-image"></div>
			<h5 class="grid-item-title">Porta proin tellus sed pulvinar odio eu pulvinar.</h5>
			<p class="grid-item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna
				aliqua.</p>
			<div class="grid-item-autor">
				<div class="autor">
					<div class="autor-info">
						<h4 class="autor-name">Samatha Leuthex</h4>
						<p class="autor-fecha">May 5, 3 min read</p>
					</div>
					<div class="autor-icons">
						<img src="../../assets/media/iconBook.svg" alt="icono de bookmark">
						<img src="../../assets//media//iconShare.svg" alt="icono de compartir">
					</div>
				</div>
			</div>
		</div>
		<div class="grid-item">
			<div class="grid-item-image"></div>
			<h5 class="grid-item-title">Porta proin tellus sed pulvinar odio eu pulvinar.</h5>
			<p class="grid-item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna
				aliqua.</p>
			<div class="grid-item-autor">
				<div class="autor">
					<div class="autor-info">
						<h4 class="autor-name">Samatha Leuthex</h4>
						<p class="autor-fecha">May 5, 3 min read</p>
					</div>
					<div class="autor-icons">
						<img src="../../assets/media/iconBook.svg" alt="icono de bookmark">
						<img src="../../assets//media//iconShare.svg" alt="icono de compartir">
					</div>
				</div>
			</div>
		</div>

	</div>

	<div class="content-footer">
		<p>See All Popular Article</p>
	</div>


</main>
