<footer class="footer">
	<div class="footer-wrapper l-container">
		<div class="footer-info">
			<h6 class="footer-title">Intersted to woek<br>
				with our team?</h6>
			<p class="footer-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit<br>, sed do eiusmod
				tempor incididunt ut labore et dolore<br> magna
				aliqua. Ut enim ad minim veniam.</p>
			<div class="footer-btn">
				<button>Let’s Talk</button>
			</div>
		</div>
		<div class="footer-copy">
			<p>2019 &copy; Afrianska. All rights reserved.</p>
		</div>
	</div>
</footer>
