<header class="header">
	<div class="header-wrapper l-container">
		<div class="header-logo">
			<img src="/assets/media/logo.svg" alt="logo">
		</div>
		<nav class='nav' id='nav'>
			<ul class='nav-list'>
				<li class='nav-item'><a class='nav-link' href='#' target='_blank'><b>Home</b></a></li>
				<li class='nav-item'><a class='nav-link' href='#' target='_blank'>Espectaculos</a></li>
				<li class='nav-item'><a class='nav-link' href='#' target='_blank'>Deportes</a></li>
			</ul>
		</nav>
	</div>
</header>
