// Colors

$color-title: #1f3f68;
$color-subTitle: #356ead;
$color-parrafo: rgba(0, 0, 0, 0.6);
$color-fecha: rgba(0, 0, 0, 0.4);
$banner-background: linear-gradient(to left, #98d0fc 0%, #3481d7 100%);

// Typography

$font-family: BlinkMacSystemFont, -apple-system, "Helvetica", sans-serif;
$family-code: monospace;

$weight-light: 300;
$weight-normal: 400;
$weight-medium: 500;
$weight-bold: 700;
$weight-bolx: 900;

//  Z-index Variables

$z-back: -10;
$z-normal: 1;
$z-tooltip: 10;
$z-fixed: 100;
$z-modal: 1000;

//  Layout

$max-width: 950px;

//  BreakPoints
$breakpoints: (
	s: 36em,
	// ~ 576px ( landscape mobiles )
		m: 48em,
	// ~ 768px ( tablets )
		lg: 62em,
	// ~ 992px ( desktop )
		xl: 75em // ~1200px ( Tvs ),,,,,,,,,,,
) !default;
