.article {
	&-title {
		font-size: 1.3rem;
		color: $color-subTitle;
	}

	&-footer {
		width: 100%;
		height: 4rem;
		display: flex;
		justify-content: space-between;
		align-items: center;

		&-prev,
		&-next {
			width: 200px;
			height: 100%;
		}

		&-next {
			text-align: right;
		}

		span {
			color: $color-subTitle;
			padding: 0 1rem;
		}
	}
}
