.banner {
	width: 100%;
	height: 20rem;
	background: $banner-background;

	&-wrapper {
		width: 100%;
		height: 100%;
		background-image: url(/assets/media/banner.svg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&-content {
		width: 45%;
		color: white;
		text-align: center;

		h1 {
			font-size: 3.5rem;
			font-weight: normal;

			@include to(m) {
				font-size: 2rem;
			}
		}

		p {
			font-size: 1.5rem;
			font-weight: lighter;
			color: rgba($color: #ffffff, $alpha: 0.7);

			@include to(m) {
				font-size: 1rem;
			}
		}
	}
}
