.content {
	padding-top: 3rem;
	padding-bottom: 3rem;
	width: 100%;
	display: grid;
	grid-row-gap: 2rem;

	&-search {
		width: 100%;
		border-radius: 10px;
		background-color: #f4f4f4;
		display: flex;
		height: 4rem;

		label {
			width: 10%;
			height: 100%;
			background-image: url(/assets/media/iconLupa.svg);
			background-repeat: no-repeat;
			background-position: center;
			// background-size: contain;
		}

		input {
			width: 90%;
			height: 100%;
			color: #7d8fa5;
			border: 0;
			background: none;
			outline: 0;
		}
	}

	&-title {
		font-size: 1.3rem;
		color: $color-subTitle;
	}

	&-main {
		width: 100%;
		display: flex;
		height: 25rem;

		@include to(m) {
			flex-direction: column;
			height: 50rem;
		}

		&-info {
			width: 40%;
			height: 100%;
			padding-right: 1rem;

			@include to(m) {
				width: 100%;
				height: 25rem;
				padding-right: 0;
				padding-bottom: 1rem;
			}
		}
		&-title {
			color: $color-title;
			font-size: 2.5rem;
			height: 30%;
		}
		&-description {
			display: flex;
			align-items: center;
			color: $color-parrafo;
			line-height: 1.2rem;
			font-size: 1.2rem;
			height: 60%;
		}

		&-autor {
			width: 100%;
			height: 10%;
		}

		&-image {
			width: 60%;
			height: 100%;
			background-color: #c4c4c4;

			@include to(m) {
				width: 100%;
				height: 25rem;
			}
		}
	}

	&-footer {
		width: 100%;
		height: 4rem;
		border-bottom: 2px solid #c4c4c4;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		color: $color-subTitle;
		text-transform: uppercase;
		font-weight: bold;
	}
}
