.footer {
	width: 100%;
	background-image: linear-gradient(to right, #316099 50%, white 50%);

	@include to(m) {
		background-image: linear-gradient(to right, #316099 30%, white 50%);
		padding-right: 1rem;
	}

	&-wrapper {
		background-color: #316099;
		height: 100%;
		border-top-right-radius: 300px;

		@include to(m) {
			border-top-right-radius: 180px;
		}
	}

	&-info {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 10rem 10rem;
		grid-template-areas: "title btn" "parrafo btn";
		padding: 3rem 0;
		align-items: center;

		@include to(m) {
			grid-template-columns: 1fr;
			grid-template-rows: 7rem 7rem 7rem;
			grid-template-areas: "title" "parrafo" "btn";
			grid-row-gap: 1rem;
		}
	}

	&-title {
		grid-area: title;
		color: white;
		font-size: 2.5rem;
		font-weight: normal;
		@include to(m) {
			font-size: 2rem;
		}
	}
	&-description {
		grid-area: parrafo;
		color: #7f9bbf;
		line-height: 1.5rem;
		align-self: flex-start;

		@include to(m) {
			width: 80vw;
			line-height: 1.2rem;
		}
	}
	&-btn {
		grid-area: btn;
		display: flex;
		justify-content: center;
		align-items: center;

		@include to(m) {
			justify-content: flex-start;
		}

		button {
			width: 200px;
			height: 4rem;
			border-radius: 10px;
			color: white;
			background: #5a98d0;
			border: 0;

			@include to(m) {
				width: 100%;
			}
		}
	}

	&-copy {
		color: #7f9bbf;
		font-size: 1.2rem;
		padding: 1rem 0;
	}
}
