.header {
	width: 100%;
	height: 10rem;

	&-wrapper {
		height: 100%;
		max-width: 1200px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		@include to(m) {
			min-width: 320px;
			padding-right: 1rem;
			padding-left: 1rem;
		}
	}

	&-logo {
		height: 2rem;

		img {
			width: 100%;
			height: 100%;
		}
	}
}

.nav {
	height: 100%;

	&-list {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&-item {
	}

	&-link {
		padding: 0.5rem 1rem;
		font-size: 1.2rem;
		color: $color-title;

		@include to(m) {
			padding: 0.2rem 0.5rem;
			font-size: 1rem;
		}
	}
}
